<div id="index-special-text" class="page-width">
<H1>Design Inspired Bar and Counter Stools by Bar Stool Gems </H1>

<H2>Bar Stool Gems is proudly Canadian owned and operated </H2>
We founded our online shop after going from store to store looking for those special furniture pieces. It’s a tiring process, not to mention a cold one in the long winters here in Canada.
The idea behind our store was simple: create a one stop online shopping experience with quality, on-trend furniture that is shipped free across Canada.
 
<H2>We started with Counter Stools</H2>
We think counter stools are one of the most important statement pieces in
any home. They provide additional seating and can make or break the look of
your kitchen or bar. We have a great selection with all sorts styles, finishes
& colours and challenge you to not find one that fits your decor perfectly!
 
<H2>We also specialize in bar height stools</H2>
For those who want a stool with a little extra height, we've got bar height stools that are perfect for any home bar or kitchen island.
Our bar stools are made with a focus on design and craftmanship, so you can be sure to find the perfect match for your home bar or business need.
 
<H2>Our bar stool chairs are quality tested (and all other furniture pieces too 😊)</H2>
Our pieces go through rigorous quality checks for residential use and many for commercial use too. Each product description details if they’ll work in a business setting so you can rest assure that you’re approving the right, quality furniture piece to make your office or restaurant space feel individual, luxurious and even more comfy and cosy.
 
<H2>Today, Bar Stool Gems is so much more than Bar Stools!
</H2>
No matter what piece of furniture you're looking for, Bar Stool
Gems can help. Over time we've expanded to offer so much more than just bar
stools. We bring the best of the design world straight to your door and include
manufacturer warranties with every product that we sell. Our collections represent some of the best finds in furniture design and we're confident that
you'll love our products. With so many furniture options in store and online, how can you be sure that you're making the best decision? It can sometimes be hard to tell which furniture pieces are worth the investment, especially when you can't see them in person.
Let our team help you make the best decision for your space.  Reach out if we can help; our friendly team loves to chat. We'll be delighted to help you narrow down your selection or offer advice on your purchase decision if you need it. 
Shop with us today and find your perfect bar stool or furniture gem!

</div>