<div class="product-description-area">
<div class="rte product-tabs-{{product.id}}">
    <div data-station-tabs-app data-station-tabs-product="{{ product.handle }}">{{ product.description }}</div>
 </div>
</div>
<hr> 