{%- if predictive_search.performed -%}

  <div id="predictive-search-results">
    <ul id="predictive-search-results-list" class="predictive-search__results-list" role="listbox" aria-labelledby="predictive-search-products">
      {%- for product in predictive_search.resources.products -%}
        <li class="predictive-search__list-item"
          data-collectionLists = "{% for collection in product.collections %}
 {{ collection.handle }}
{% endfor %}"
          role="option">


          <a href="{{ product.url }}" class="predictive-search__item" tabindex="-1">
            {%- if product.featured_media != blank -%}
              <img class="predictive-search__image"
                src="{{ product.featured_media | img_url: '150x' }}"
                alt="{{ product.featured_media.alt }}"
                width="50"
                height="{{ 50 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
              >
            {%- endif -%}

          </a>
        </li>
      {%- endfor -%}
     
    </ul>
  </div>
{%- endif -%}
