.featuresContainer {
}
.featureHeadingContainer {
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.featureHeadingContainer h2 {
  font-size: 4rem;
  font-style: italic;
  color: #565656;
}
.featureHeadingContainer p {
  line-height: 1.3;
  color: #8d8d8d;
  font-size: large;
}

.bv_feature_container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
}
.bv_feature_img {
}
.bv_feature_text h1 {
  font-size: xx-large;
  font-style: italic;
  color: #565656;
}
.bv_feature_text p {
  font-size: large;
  font-style: italic;
  color: #8d8d8d;
}

.featurePaddingLeft {
  padding: 20px 10% 20px 20px;
}
.featurePaddingRight {
  padding: 20px 20px 20px 10%;
}



/* For devices larger than 550px */
@media (min-width: 550px) {
  
}
/* Larger than tablet */
@media (max-width: 750px) {
  .bv_feature_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    flex-direction: column;
}
.featurePaddingLeft {
  padding-left: 0;
}
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .bv_feature_container {
  }
  .bv_feature_img {
    max-width: 52%;
  }
  .bv_feature_text {
    max-width: 47%;

    min-width: 500px;
  }
}
